Checks: >
  *,
  -*-magic-numbers,
  -*-special-member-functions,
  -fuchsia-overloaded-operator,
  -cert-dcl21-cpp,
  -cert-oop54-cpp,
  -modernize-use-trailing-return-type,
  -llvm-header-guard,
  -abseil-*,
  -android-*,
WarningsAsErrors: '*'
FormatStyle: file
HeaderFilterRegex: 'uint_mersenne.h'