Checks:           '*,-*-magic-numbers,-*-special-member-functions,-fuchsia-overloaded-operator,-cert-dcl21-cpp,-llvm-header-guard'
WarningsAsErrors: '*'
FormatStyle:     file
HeaderFilterRegex: 'uint_mersenne.h'